@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: #000000;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:450px;
    height: auto;
    border-radius: 16px;
}

.destaque{
    color: #faa916;
}

*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:5% 15%;
}

.apresentacao-texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao-conteudo-paragrafo{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.apresentacao-links{
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-ancora{

    background-color: #faa916;
    text-decoration: none;
    color: #000000;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    font-family: "Montserrat", sans-serif;
}